/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@400;600&family=Roboto+Slab:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@400;600;700&family=Roboto+Slab:wght@600&display=swap');

:root {
    /* Primary colors */
    --red: hsl(0,97.32%,29.22%);
    --white: hsl(0,0%,100%);
    --light-gray: hsl(0,2.33%,91.57%);
    /* --footer-blue */
    /* -blue */
    --blue: hsl(210,100%,10.98%);
    /* Secondary-colors */
    --pub-red: hsl(0,89.13%,18.04%);
    --pub-black: hsl(0,2.86%,13.73%);
    --pub-text: hsl(0,12.35%,68.24%);
    --footer-text: hsl(120,1.45%,72.94%);
    --after-footer-text: hsl(18.69,25.96%,53.92%);
    --after-footer-text2: hsl(358.13,28.07%,77.65%);
    --selected-color: hsl(0,0%,20%);
    /* --newsletter-red: #86333f */
    --newsletter-red: hsl(351.33,44.86%,36.27%);
    --very-light-gray: hsl(0,18.18%,95.69%);
    /* icons */
    --facebook: #0078ff;
    /* l */
    --linkedin: #0077B5;
    /* t */
    --twitter: #08A0E9;
    /* i */
    /* = */
    --instagram: linear-gradient(90deg, 
    #F58529,
    #FEDA77,
    #DD2A7B,
    #8134AF,
    #515BD4)

    /* /Font-Weight */
    /* fw */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* animation variables */
    --socials-duration: 400ms;
    --socials-slide-2-duration: 450ms;
    /* --ania */
}

* {
    box-sizing: border-box;
    border: 1px solid black;
}

*::selection {
    background: var(--selected-color);
    color: var(--white);
}

/* keyframes start */
@keyframes socials-slide {
    0% {
        opacity: 0;
        /* tras */
        transform: translateY(-100%);
    }

    100% {
        /* oa */
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes socials-slide-2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    /* 2 */

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes socials-text-slide-2 {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    /* 2 */

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes sclaed {
    0% {
        transform: translateY(-100%);
    }

    /* 505 */

    50% {
        transform: translateY(0%);
    }

    99% {
        /* scale */
    /* scale: 0103% 100%; */
    }

    100% {
        scale: 100% 100%;
        transform: translateY(0%);
    }
}

@keyframes from-center-left {
    0% {
        transform: translateX(02.0em);
        /* transform: translateX(calc((1472.8px/2) - 8.5em)); */
        opacity: 0;
    }

    95% {
        transform: translateX(-.6em);
    }

    100% {
        /* transform: translateX(calc((1472.8px/2) - 8.5em)); */
        transform: translateX(0em);
        opacity: 1;
    }
}
@keyframes from-center-right {
    0% {
        transform: translateX(-02.0em);
        /* transform: translateX(calc((1472.8px/2) - 8.5em)); */
        opacity: 0;
    }

    95% {
        /* transform: transls;x */
        transform: translateX(.6em);
    }

    100% {
        /* transform: translateX(calc((1472.8px/2) - 8.5em)); */
        transform: translateX(0em);
        opacity: 1;
    }
}
/* Keyframes end */

body {
    margin: 0%;
    overflow-x: hidden;
    width: 100%;
}

section.hero-socials {
    background: var(--red);
    display: flex;
    justify-content: space-between;
    padding: 1.0rem 6.5rem;
    align-items: center;
    animation: socials-slide var(--socials-duration) forwards ease-in;
}

/* @ */

section.hero-socials p {
    margin: 0%;
    color: var(--white);
}

.hero-socials div:first-child {
    /* dips */
    display: flex;
    gap: .7em;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--fw-400);
}

section.hero-socials img {
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    /* animation: socials-slide-2 var(--socials-slide-2-duration) var(--socials-duration) forwards; */
    /* opacity: 0; */
}

section.hero-socials > :first-child img {
    animation: socials-slide-2 var(--socials-slide-2-duration) var(--socials-duration) forwards ease-in;
    opacity: 0;
    animation-delay: 200ms;
}
section.hero-socials > :first-child p {
    animation: socials-text-slide-2 var(--socials-slide-2-duration) var(--socials-duration) forwards ease-in;
    opacity: 0;
    animation-delay: 700ms;
}

div.socials {
    display: flex;
    gap: 1.5em;
}

div.socials > * {
    animation: socials-slide-2 var(--socials-slide-2-duration) var(--socials-duration) forwards ease-in;
    opacity: 0;
}

div.socials > :first-child {
    /* animation-delau */
    animation-delay: .2s;
    /* display: none; */
}
div.socials > :nth-child(1) {
    /* animation-delau */
    animation-delay: .4s;
    /* display: none; */
}
div.socials > :nth-child(3) {
    /* animation-delau */
    animation-delay: .6s;
    /* display: none; */
}
div.socials > :last-child {
    /* animation-delau */
    animation-delay: .8s;
    /* display: none; */
}

.facebok::after, 
.facebok svg path {
    background: var(--facebook) !important;
    fill: var(--facebook);
    /* border-radius: 0% !important; */
}

div.facebok {
    display: grid !important;
    place-items: center;
}

.linkedn::after, 
.linkedn svg path {
    /* background: var(--line); */
    background: var(--linkedin) !important;
    fill: var(--linkedin);
}

.twittr::after, 
.twittr svg path {
    background: var(--twitter) !important;
    fill: var(--twitter);
}

.instagrm::after, 
.instagrm svg path {
    background: linear-gradient(350deg, 
    #F58529,
    #FEDA77,
    #DD2A7B,
    #8134AF,
    #515BD4) !important;
    /* fill: #instagram-gradient; */
    fill: #F58529;
}

.cotninera::after {
    content: '';
    position: absolute;
    background: rgb(229, 4, 76);
    /* width: 100%; */
    top: 0%;
    inset: 0%;
    z-index: -1;
    inset: -2em;
    inset: -.5em;
    border-radius: inherit;
    transform: scale(0);
    transition: .55s ease-in-out;
}

/* .contanier */

.container:hover::after {
    transform: scale(1);
}

.container {
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    /* width: calc(100% + 1.5em); */
    /* width: 2.5em;
    height: 2.5em;
    padding: 1.7em; */
    box-sizing: border-box;
}

img {
    /* position: absoli; */
    /* position: absolute; */
}

.line {
    position: absolute;
    height: 1.5em;
    /* border-radius: .3em; */
    /* dipl */
    /* display: none; */
    transition: .55s ease-in-out;
    opacity: 0;
    /* display: none; */
    /* scale: 100%; */
    pointer-events: none;
    /* transform-origin: top; */
    /* position: relative; */
    /* poin */
    cursor: pointer;
    z-index: 111111111;
}

/* .line::after {
    content: '';
    background: teal;
    background: black;
    /* position: absl; *
    position: absolute;
    top: 0%;
    left: 0%;
    width: 10em;
    z-index: 1111;
    height: 10em;
} */

/* .line {} */

/* .line:hover */

.container:hover .line {
    /* display: block; */
    /* transform: scale(0); */
    opacity: 1;
    pointer-events: visible;
    /* scale: 00%; */
    /* scale: 0%; */
    animation: line-fade .75s ease-in-out forwards .0s;
    transform-origin: center;
}

/* @keyframes line-daef {
    
} */

@keyframes line-fade {
    00% {
        /* transform: scale(30deg, 1); */
        opacity: 0;
        /* display: none; */
        /* scale: 0%; */
    }

    40% {
        opacity: 1;
        /* display: block; */
        scale: 130%;
        /* tramsfpr */
        /* transfor, */
        /* transform: scale(90deg 1.3); */
    }

    100% {
        /* transform: scale(30deg, 0); */
        /* sclae */
        scale: 0%;
        opacity: 1;
        /* display: block; */
    }
}

.line-1 {
    top: -2.0em;
    /* height: 2em; */
}

.line-2 {
    /* height: 2em; */
    transform: rotate(90deg);
    left: -2.0em;
}

.line-3 {
    /* height: 2em; */
    transform: rotate(90deg);
    right: -2.0em;
}

.line-4 {
    /* height: 2em;/ */
    transform: rotate(180deg);
    bottom: -2.0em;
    /* transform: translateZ(2.7em); */
}

.line-5 {
    /* height: 2.5em; */
    /* width: 2em; */
    /* transform: translateZ(2.7em); */
    transform: rotate(45deg);
    /* right: calc(00% + -2.5em); */
    /* left] */
    left: calc(100%);
    /* bottom: -1em; */
    bottom: calc(100%);
    /* bottom */
}

.line-6 {
    /* height: 2.5em; */
    /* width: 2em; */
    /* transform: translateZ(2.7em); */
    transform: rotate(-45deg);
    /* right: calc(00% + -2.5em); */
    /* left] */
    right: calc(100%);
    /* bottom: -1em; */
    bottom: calc(100%);
    /* bottom */
}

.line-7 {
    /* height: 2.5em; */
    /* width: 2em; */
    /* transform: translateZ(2.7em); */
    transform: rotate(-45deg);
    /* right: calc(00% + -2.5em); */
    /* left] */
    left: calc(100%);
    /* bottom: -1em; */
    top: calc(100%);
    /* bottom */
}

.line-8 {
    /* height: 2.5em; */
    /* width: 2em; */
    /* transform: translateZ(2.7em); */
    transform: rotate(45deg);
    /* right: calc(00% + -2.5em); */
    /* left] */
    right: calc(100%);
    /* bottom: -1em; */
    top: calc(100%);
    /* bottom */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: ; */
    font-size: 0.875rem;
    text-transform: capitalize;
    /* color: rgb(32, 30, 30); */
    padding: .5em 6.5em;
    /* box-shadow: 5px 15px 6px 6px var(--white); */
    /* box-shadow: .7px .7px 10px 0px var(--very-light-gray); */
    background: var(--white);
    position: relative;
    /* z-index: 1111; */
}

nav {
    z-index: 1111;
    position: relative;
}

.get-in-contact, 
.menu {
    /* position: relative; */
    /* z-index: 11; */
}

/* header l */

header ul a {
    /* display: flex; */
    align-items: center;
    gap: .3em;
}

div.arrow-flex {
    display: flex;
    align-items: center;
    /* a */
    gap: .3em;
}

.fa-angle-down {
    color: rgb(32, 30, 30);
    transition: .3s ease-in-out;
    /* align-self: flex-end; */
}

/* div.dropdown:hover .fa-angle-down {
    transform: rotate3d(1, 0, 0, 180deg);
} */

li.dropdown:hover .fa-angle-down {
    transform: rotate3d(1, 0, 0, 180deg);
}

header img {
    width: 68px;
    height: 62px;
    animation: from-center-left 400ms 1000ms forwards ease-in;
    transform: translateX(02.0em);
    opacity: 0;
}

.menu {
    animation: from-center-left 400ms 1000ms forwards ease-in;
    opacity: 0;
}

.menu > img {
    animation-delay: 1200ms;
}

header ul {
    display: flex;
    gap: 2.5em;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    align-items: center;
    font-weight: var(--fw-500);
    /* align-items: l; */
    align-items: flex-end;
    /* sclae */
    scale: 0.1% 100%;
    transform: translateY(-100%);
    animation: sclaed var(--socials-slide-2-duration) 1200ms forwards ease-in-out;
}

/* header */

/* headeer */

header a {
    text-decoration: none;
    color: rgb(32, 30, 30);
}

.dropdown-content {
    /* display: none; */
    position: absolute;
    top: calc(100% + 1.4rem);
    z-index: 1111;
    background: var(--very-light-gray);
    /* white-space: */
    width: 5em;
    min-width: 13em;
    width: fit-content;
    width: 23em;
    padding: 1.9rem 2rem;
    opacity: 0;
    /* scale: 0%; */
    transform: translateY(-2.5em);
    /* display: none; */
    /* pointer-events: none; */
    /* pointer-events: auti; */
    pointer-events: none;
    /* pointer-events: none; */
    transition: .35s ease-in-out;
}

div.filler {
    width: 100%;
    height: 100%;
    position: absolute;
    top: calc(100% + 0.0rem);
    height: 2em;
    background: red;
    opacity: 0%;
    /* display: none; */
    /* pon */
    pointer-events: none;
}

/* li.dropdown:hover filll */

li.dropdown:hover .filler {
    /* display: block; */
    /* pointer-events: visis; */
    pointer-events: visible;
    /* cursor: ; */
    cursor: pointer;
}

li.dropdown:hover .dropdown-content {
    opacity: 1;
    /* scale: 100%; */
    transform: translateY(0em);
    /* disl */
    /* display: block; */
    /* pointer-events: auto; */
    pointer-events: visible;
}

li.dropdown {
    position: relative;
    /* padding: 1.4rem; */
    /* padding-bottom: 1.4rem; */
    /* z-index: 111111111111111111111111111111111111111111111111;/ */
}

.get-in-contact {
    /* background-color */
    background: var(--red);
    /* color: white; */
    /* color: var(--white); */
    color: var(--white);
    background: rgb(155, 1, 1);
    padding: .8em 1.2em;
    border-radius: .25em;
    animation: from-center-right 400ms 1000ms forwards ease-in;
    opacity: 0;
    transform: translateX(-2em);
}

footer > section:first-child img {
    width: 103.35px;
}

footer form {
    flex-direction: column;
    display: flex;
    gap: 1em;
}

/* footer p */

footer {
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    padding: 4em 10%;
}

footer > section:first-child {
    width: 23%;
    /* margin-top: 2em; */
    color: var(--footer-text);
    font-family: 'Montserrat', sans-serif;
    /* fot */
    font-size: 0.9375rem;
    line-height: 1.6875em;
    font-weight: var(--fw-300);
}

footer ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    color: var(--footer-text);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    line-height: 25.2px;
    font-weight: var(--fw-300);
    text-transform: capitalize;
}

footer h3 {
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    font-size: 1.125rem;
    font-weight: var(--fw-500);
    /* text-transfrom */
    text-transform: capitalize;
    /* margin-top: 05; */
    margin-top: 0%;
    margin-bottom: 3em;
    /* margin-inline: auto; */
    margin-left: 0%;
}

footer > section:nth-child(2) {
    width: 20%;
    /* display: grid; */
    /* place-items: center; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* jusi */
    /* justify-content: center; */
    align-items: center;
    text-align: left;
}

/* footer ul:second */

.after li {
    /* border-bottom: 1px dotted var(--footer-text); */
    /* padding: 1m; */
    padding: .6em 0em;
    position: relative;
    transition: .15s ease-in-out .06s;
}

/* footer ul:nth-chji */

.after li::after {
    content: '';
    position: absolute;
    inset: 0%;
    pointer-events: none;
    border-bottom: 1px dotted var(--footer-text);
    width: 70%;
    transform-origin: right;
    transition: transform .5s ease-in-out;
}

.after li:hover::after {
    /* width: ; */
    /* transform-scale */
    transform: scaleX(0);
    transform-origin: left;
}

.after li:hover {
    color: var(--red);
}

/* foooter */

footer > section:nth-child(3) {
    width: 29%;
    padding-right: 2em;
}

/* .location, 
.n, '' */

.location, 
.mail {
    font-family: 'Montserrat', sans-serif;
    color: var(--footer-text);
    font-size: 0.9375rem;
    line-height: 27px;
    /* font-weight: var(---fw); */
    font-weight: var(--fw-400);
    display: flex;
    align-items: center;
    gap: .85em;
}

footer > section:nth-child(4) img, 
footer i {
    width: 2.0em;
    height: 2.0em;
}

/* footer i {
    width: 4.5em;
    height: 4.5em;
} */

footer > section:nth-child(4) {
    width: 22% !important;
}

footer input {
    width: 100%;
}

footer h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: var(--fw-500);
    line-height: 25.2px;
    color: var(--white);
}

.menu {
    display: none;
}

/* .slider-conte */

.slider-container {
    display: none;
}

.after-footer {
    background: var(--red);
    padding: .5em 10% .5em 10%;
    display: flex;
    /* h */
    justify-content: center;
    /* justify-cone */
    /* justify-content: sa; */
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: var(--fw-300);
    /* color: white; */
    color: var(--white);
    color: var(--after-footer-text);
    color: var(--after-footer-text2);
}

.after-footer strong {
    font-weight: var(--fw-600);
}

/* section, */

footer section input {
    text-transform: capitalize;
    outline: none;
    padding: 1rem;
    width: 17em;
    border-radius: .4em;
    border: none;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--fw-400);
}

#email:focus {
    outline: .3px solid var(--red);
    outline-width: 1.5px;
    box-shadow: 0 0 2px .5px var(--red);
}

#email:focus::placeholder {
    /* color: var(=); */
    color: var(--red);
}

#email, 
#email::placeholder {
    transition: .3s ease-in-out;
}

@media only screen and (max-width:1283px) {
    header {
        padding-inline: 2%;
    }

    footer {
        padding-inline: 3%;
    }

    footer input {
        width: 100% !important;
        /* display: none; */
    }

    section.hero-socials {
        padding-inline: 2.7%;
    }
}

@media only screen and (max-width:1200px) {
    header {
        padding-inline: 2%;
    }
}

@media only screen and (max-width:991.2px) {
    header {
        /* padding-inline: 1%; */
    }

    .menu {
        display: block;
        color: var(--red);
        order: 1;
    }

    .container {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    /* header > */

    a.get-in-contact {
        order: 2;
    }

    nav {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 50%;
        z-index: 1111;
        background: var(--white);
        transform: translateX(-100%);
        transition: .75s ease-in-out .0s;
    }

    .open-nav {
        transform: translateX(0%);
        transition-delay: 400ms;
    }

    /* nav u; */

    nav ul {
        display: block;
    }

    nav ul li {
        padding: 2em 3.5em;
    }

    .slider-container {
        display: flex;
        justify-content: space-between;
        padding: 1.5em 3.5em;
        align-items: center;
    }

    nav .close {
        width: 1.5em;
        height: 1.5em;
    }

    div.close-container {
        border: 1.7px solid var(--red);
        /* nb */
        border-radius: .5em;
        height: 3.3em;
        width: 3em;
        display: grid;
        place-items: center;
    }

    div.menu img {
        width: 2.5em;
        /* hright */
        height: 2.5em;
    }

    div.menu {
        width: 3em;
        height: 3.3em;
        border-radius: .5em;
        border: 1.7px solid var(--red);
        display: grid;
        place-items: center;
    }

    main {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        gap: 2.7em;
    }

    footer > section {
        width: 070% !important;
        align-items: flex-start !important;
        /* border: 1px solid red; */
        justify-content: flex-start;
        place-items: left;
    }

    footer > section:nth-child(4) {
        width: 70% !important;
    }

    footer h3 {
        margin-bottom: unset;
    }

    .js-overlay {
        width: 100%;
        height: 100%;
        /* opacity: ; */
        background: rgba(0, 0, 0, 0.588);
        position: fixed;
        z-index: 1110;
        transform: translateX(-100%);
        transition: .7s ease-in-out .4s;
    }

    .js-overlay-active {
        transform: translateX(0%);
        transition-delay: .0s;
    }

    .js-overlay-active:active {
        transition-delay: .2s;
    }

    .after-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .7em;
        padding: 1.5em;
        text-align: center;
    }

    .after-footer p {
        margin-bottom: 0%;
        margin: 0%;
    }

    .dropdown-content {
        position: relative;
        display: none;
        background-color: white;
        width: 100%;
        padding: 0%;
        margin-top: 1em;

    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    form {
        flex-direction: column;
    }
}

@media only screen and (max-width:700px) {
    footer > section {
        width: 92% !important;
    }

    footer > section:nth-child(4) {
        width: 92% !important;
    }

    footer input {
        width: 95% !important;
    }

    footer input:last-child {
        background-color: black;
        color: var(--white);
        font-weight: var(--fw-700);
        text-transform: uppercase;
        color: var(--pub-text);
        /* backge */
        /* background: var(--pub-black); */
        color: var(--footer-text);
        letter-spacing: .2em;
        color: var(--white);
    }

    section.hero-socials {
        flex-direction: column;
    }

    /* div.socai */

    div.socials {
        align-self: flex-end;
        gap: .99em;
    }

    section.hero-socials img {
        width: 1.1em;
        height: 1.1em;
    }

    section.hero-socials p {
        font-size: 0.875rem;
    }

    section.hero-socials div:first-child {
        align-self: flex-start;
    }

    div.container {
        flex-direction: column;
        align-items: flex-end;
    }

    header {
        align-items: flex-start;
    }
}

@media only screen and (max-width:661px) {
    nav {
        width: 65%;
        /* padding-right: .5em; */
    }

    .slider-container {
        padding-right: .5em;
        align-items: flex-start;
    }
}